@import url("Master.css");

/* Determines the content properties. */
.content {
    margin: 0;
    width: 100%;
}

/* Determines the personalInfo properties. */
.personalInfo {
    min-height: 177px;
    height: 177px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
}

/* Floating the photo on the left of mission statement. */
.personalPhoto {
    height: 175px;
    width: 139px;
    float: left;
}

.personalPhoto img {
    height: 175px;
    width: 139px;
}

/* Centering the text content */
.personalTagline {
    height: 175px;
    line-height: 175px;
    text-align: center;
    background-color: #e5e5e5;
}

.personalTagline span {
    color: #337ab7;
    font-size: 28px;
    font-weight: bolder;
}