@import url("Master.css");

/* Setting the personal info properties.*/
.personal-info {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

/* Personal and bio section properties */
.personal-photo {
    width: 200px;
    height: 215px;
}

.personal-photo img {
    width: 200px;
    height: 215px;
}

.bio-section {
    height: 215px;
    color: #fff;
    font-size: 24px;
    margin-left: 25px;
    width: 79%;
    text-align: justify;
}

/* Making bio section text and photo responsive */
@media screen and (max-width: 1200px) {
    .bio-section {
        width: 75%;
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .bio-section {
        width: 74%;
        font-size: 17px;
    }

    .personal-photo {
        width: 150px;
        height: 161px;
    }

    .personal-photo img {
        width: 150px;
        height: 161px;
    }
}

@media (max-width: 749px) {
    .bio-section {
        font-size: 16px;
        width: 75%;
    }

    .personal-photo {
        width: 120px;
        height: 129px;
    }

    .personal-photo img {
        width: 120px;
        height: 129px;
    }
}

@media (max-width: 666px) {
    .bio-section {
        font-size: 13px;
        width: 70%;
    }
}
