@import url("Master.css");

/* Setting the personal info properties.*/
.personal-info {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: auto;
}

/* Personal and bio section properties */
.personal-photo {
    width: 200px;
    height: 215px;
}

.personal-photo img {
    width: 200px;
    height: 215px;
}

.bio-section {
    height: 215px;
    color: #fff;
    font-size: 24px;
    margin-left: 25px;
    width: 79%;
    text-align: justify;
}

/* Making bio section text and photo responsive */
@media screen and (max-width: 1200px) {
    .bio-section {
        width: 75%;
        font-size: 20px;
    }
}

@media screen and (max-width: 991px) {
    .bio-section {
        width: 74%;
        font-size: 17px;
    }

    .personal-photo {
        width: 150px;
        height: 161px;
    }

    .personal-photo img {
        width: 150px;
        height: 161px;
    }
}

@media (max-width: 760px) {
    .bio-section {
        font-size: 16px;
        width: 74%;
    }

    .personal-photo {
        width: 120px;
        height: 129px;
    }

    .personal-photo img {
        width: 120px;
        height: 129px;
    }
}

@media (max-width: 666px) {
    .bio-section {
        font-size: 13px;
        width: 70%;
    }
}

.formerPosition {
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    font-size: 18px;
    margin: 30px 0;
    padding: 20px 40px;
    border-radius: 5px;
    font-weight: 100;
}

.formerPositionHeader {
    background-color: rgba(255, 255, 255, 0.80);
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.formerPositionName,
.formerPositionDate {
    width: 50%;
    float: left;
    font-size: 20px;
}

.formerPositionName {
    text-align: left;
}

.formerPositionDate {
    text-align: right;
}