@import url("Master.css");

/* Image from: www.pexels.com */
/* Some jumbotrom css override. */
.jumbotron {
    background-image: url("../images/heroImage.jpeg");
    height: 250px;
    text-align: center;
    color: white;
}

/* Footer definition css */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #710a80;
    color: white;
}

.footer-text {
    margin: 15px 0 0 10px;
}